/*
   ____ ____  ____  
 / ___/ ___|/ ___| 
| |   \___ \\___ \ 
| |___ ___) |___)|
\____|____/|____/

*/


/*==== General config ====*/
body {
    background-color: #0c3636;
    color: #ffffff;
    font-family: "Segoe UI", sans-serif;
}

/*==== Always assigned ====*/
h1 {
    color: #ffffff;
}

/*==== Classes configs ====*/
.text-center {
    text-align: center;
}

.center-box {
  margin: 0;
  min-height: 95vh;
  display: grid;
  place-items: center;
}

.top-left {
  position: fixed;
  top: 20px;
  left: 60px;

  bottom: auto;
  right: auto;

  margin: 0;
  transform: none;

  z-index: 9999;
}

.ul-list-style {
    color: darkgrey;
}

.ul-title-style {
    color: mediumpurple;
}
