/*
   ____ ____  ____  
 / ___/ ___|/ ___| 
| |   \___ \\___ \ 
| |___ ___) |___)|
\____|____/|____/

*/


/*==== General config ====*/
body {
    background-color: #344e41;
    color: #ffffff;
    font-family: "Segoe UI", sans-serif;
}

/*==== Always assigned ====*/
h1 {
    color: #ffffff;
}

a {
   color: grey; 
}

/*==== Classes configs ====*/
.text-center {
    text-align: center;
}

.center-box {
  margin: 0;
  min-height: 95vh;
  display: grid;
  place-items: center;
}

.top-left {
  position: fixed;
  top: 20px;
  left: 60px;

  bottom: auto;
  right: auto;

  margin: 0;
  transform: none;

  z-index: 9999;
}

.top-right {
  position: fixed;
  top: 20px;
  right: 60px;

  bottom: auto;
  left: auto;

  margin: 0;
  transform: none;

  z-index: 9999;
}

.ul-title-style {
    color: #a2b18a;
    font-size: 25px;
}

.ul-list-style {
    color: darkgrey;
    font-size: 19px;
}

.ul-socials-github {
    font-size: 20px;
}

.ul-delete-space-bottom {
    margin-bottom: -5px;
}